.dropdown {
          position: relative;
          display: inline-block;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }

        .dropdown-content table{
            width:100%;
        }

        .dropdown-content table tr {
          color:black;
          padding:12px;
          text-decoration: none;
          display:block;
          width:100%;
        }

        .dropdown-content table tr td
        {
            font-weight:normal;
            width:170px;
        }

        .dropdown-content a:hover {color:blue !important;font-weight:bold;}
        .dropdown-content tr td a:hover {background-color: #ddd;}
        .dropdown:hover .dropdown-content {display: block;}